<ion-header>
  <ion-navbar class="bar-assertive">
    <ion-title>Drug Images</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="data!=null">
  	<div class="spacer" style="height: 16px;"></div>
    <div>
      <img class="imgs" src="assets/imgs/drug-image-icon.svg" style="width: 30%;">
    </div>
    <div class="spacer" style="height: 12px;"></div>
    <div class="show-list-numbers-and-dots">
      <p>Dev: Pull drug image from drug-image-table using ndc matches. Repeat if more than one image.</p>
    </div>
    <ng-container *ngFor="let each of data;let i=index">
      <div class="list card" id="drugImages-{{i}}">
        <div *ngFor="let each1 of each.images">
          <img src="{{each1}}" />
        </div>
        <div class="item item-body">
          <div class="show-description">
            <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(each.description)">
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>
