<ion-header>
  <ion-navbar class="bar-assertive">
    <ion-title>Resources</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="spacer" style="height: 17px;"></div>
  <div>
    <img src="assets/imgs/drug-resources-icon.svg" class="imgs" style="width: 30%;">
  </div>
  <div class="spacer" style="height: 33px;"></div>
  <ion-list *ngIf="info!=null">
    <ion-item class="item-thumbnail-left" *ngFor="let each of info;let i=index" (click)="transit(i)">
      <img src="{{each.src}}" />
      <h2>{{each.title}}</h2>
      <p>{{each.desc}}</p>
    </ion-item>
  </ion-list>
</ion-content>
