page-home {
	.img-logo{
		width: 20%;
	}
	.logo-text{
		color:#F44336;text-align:center;
	}
	.logo-desc{
		text-align: center;
		p{
			color:#666666;
		}
	}
	.img-user{
		width: 50%;
	}
	#home-heading{
		color:#2979FF;text-align:center;
	}
	#home-markdown{
		text-align:center;
		p{
			color:#000000;
		}
		#home-button10{
			font-size:16px;
		}
	}
	.ui-popup-container h2{
		color: #f00;
	}
	.close_dlg {
	    text-decoration: none;
	    font-size: 1em;
	    float: right;
	    padding: 0.1em 0.5em;
	    color: #e42112;
	    margin-bottom: 10px;
	    background: none;
	}
}
.tabbar.show-tabbar{
	display: none;
}