<ion-header>
  <ion-navbar class="bar-assertive">
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="spacer" style="height: 32px;"></div>
  <div>
    <img src="assets/imgs/RAIP-logo-1000.png" class="img-logo imgs">
  </div>
  <h3 class="logo-text">Red Apple Interactive Pharmacy</h3>
  <div class="logo-desc">
    <p>America's first interactive retail pharmacy</p>
  </div>
  <div class="spacer" style="eight: 17px;"></div>
  <div>
    <img src="assets/imgs/ipad-user-man.svg" class="imgs img-user">
  </div>
  <div class="spacer" style="height: 17px;"></div>
  <h1 id="home-heading">Prescription Reviewer</h1>
  <div id="home-markdown">
    <p>To review the prescription the pharmacy is currently filling for you, please continue.</p>
    <a id="home-button10" (click)="goNext()" class="button button-assertive button-block button-clear btn-flat">Continue</a>
  </div>

  <div class="ui-popup-screen in" *ngIf="dlg.show!=0" (click)="toggleDlg(0)"></div>
  <div class="ui-popup-container pop in" *ngIf="dlg.show!=0" [ngStyle]="{'max-width': dlg.maxWidth+'px','top': dlg.top+'px', 'left': dlg.left+'px', 'width': dlg.width+'px'}">
      <div data-role="popup" class="ui-body-inherit">
        <h2>Warning!</h2>
        <p>You are about to exit prescription review. Is this alright?</p>
        <button class="close_yes_dlg" (click)="dlgClose(1)">Yes</button>
        <button class="close_no_dlg" (click)="dlgClose(0)">No</button>
      </div>
  </div>
</ion-content>
