page-drug-info {
	.btn-video{
	    text-decoration: none;
	    font-size: 1em;
	    float: right;
	    padding: 0.1em 0.5em;
	    color: #e42112;
	    margin-bottom: 10px;
	    background: none;
	}
}
