page-drug-info {
	.btn-video-container{
		width: 100%;
		height: 30px;
	}
	.btn-video{
	    text-decoration: none;
	    font-size: 1em;
	    float: left;
	    padding: 0.1em 0.5em;
	    color: #e42112;
	    background: none;
	}
}
