<ion-header>
  <ion-navbar class="bar-assertive">
    <ion-title *ngIf="info!=null">{{info[ind]['title']}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="info!=null">
	<div class="spacer" style="height: 19px;"></div>
  <div class="show-list-numbers-and-dots">
    <p>Dev: Display information from the patient-drug-information table</p>
  </div>
  <div style="text-align: center;">
    <img src="{{info[ind]['url']}}" class="imgs" style="width: 30%;">
    <h3>{{info[ind]['content']}}</h3>
  </div>
  <div class="spacer" style="height: 19px;"></div>
  <ng-container *ngFor="let each of info[ind]['data'];let i=index">
    <h4>{{each.title}}</h4>
    <div class="show-list-numbers-and-dots">
      <p>{{each.field}}</p>
    </div>
  </ng-container>
</ion-content>
