<ion-header>
  <ion-navbar class="bar-assertive">
    <ion-title>Date Of Birth</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="spacer" style="height: 20px;"></div>
  <div class="maxwidth450" *ngIf="data!=null">
    <div class="maxwidth300">
      <div class="ovalBorderRightGrey">
        <span class="font36 red-text">WARNING</span>
        <br>
        <span>This prescription is for
          <span class="font24">{{data['patient_first_name']}}.</span>
        </span>
      </div>
      <div class="right">
        <img src="assets/imgs/pharm-amanda-grey.svg" alt="Pharmacist Amanda" width="80">
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>

    <div class="spacer" style="height: 27px;"></div>
    <p class="center"> Enter {{data['patient_first_name']}}'s date of birth to confirm and meet our privacy policy.</p>

    <div>
    	<label class="item item-input" for="birthday">DOB:</label>
    	<ion-input type="date" id="birthday" placeholder="Date Of Birth" [(ngModel)]="birthday"></ion-input>
    </div>
    <a (click)="getList()" class="button button-positive button-block button-clear font24">Here You Go</a>

  </div>
  <div class="ui-popup-screen in" *ngIf="dlg.show!=0" (click)="toggleDlg(0)"></div>
  <div class="ui-popup-container pop in" *ngIf="dlg.show!=0" [ngStyle]="{'max-width': dlg.maxWidth+'px','top': dlg.top+'px', 'left': dlg.left+'px', 'width': dlg.width+'px'}">
      <div data-role="popup" class="ui-body-inherit">
        <p>Date of birth does not match Rx review code. Please contact the pharmacy.</p>
        <a href="#" class="close" (click)="toggleDlg(0)">OK</a>
      </div>
  </div>
</ion-content>
