page-prescription-list {
	.refreshBtn{
		text-align: center;
		.button-ios
		{
			background-color: #e42112;
			margin: 0 auto;
		}
		.button-ios:hover{
			color: #FFF;
		}
	}
	.ui-popup-container h2{
		color: #f00;
	}
}