page-drug-effect {
	.effect_fields{
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	    overflow: hidden;
	    margin: 10px 10px 30px;
	    border-radius: 2px;
	    background-color: #fff;
	    height: 350px;
	}
}
